<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import resource="applicationContext-dataaccess.xml" />
	<import resource="applicationContext-domain.xml" />
	<import resource="applicationContext-services.xml" />
	<import resource="applicationContext-security.xml" />
	<import resource="applicationContext-actions.xml" />

</beans>
