<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<context:annotation-config />
	<context:spring-configured />
	<context:component-scan base-package="com.gb1.healthcheck" />

	<!--
	  | Global constants
	  -->

	<util:map id="globalConstants">
		<entry key="user.generatedPasswordLength" value="8" />
		<entry key="fromAddress" value="admin@gb1.com" />
		<entry key="activation.subject" value="[HealthCheck] Account activation" />
		<entry key="activation.formUrl" value="http://localhost:8080/healthcheck/public/register/activateUser!input.go" />
		<entry key="activation.templateLocation" value="com/gb1/healthcheck/domain/users/userActivationRequestEmail.vm" />
		<entry key="lostPassword.subject" value="[HealthCheck] Password" />
		<entry key="lostPassword.templateLocation" value="com/gb1/healthcheck/domain/users/lostPasswordEmail.vm" />
		<entry key="passwordReset.subject" value="[HealthCheck] Password reset" />
		<entry key="passwordReset.templateLocation" value="com/gb1/healthcheck/domain/users/passwordResetEmail.vm" />
		<entry key="mealInactivity.daysThreshold" value="7" />
		<entry key="mealInactivity.subject" value="[HealthCheck] Inactive account" />
		<entry key="mealInactivity.templateLocation" value="com/gb1/healthcheck/domain/meals/mealInactivityEmail.vm" />
	</util:map>

	<!--
	  | Data access
	  -->

	<jee:jndi-lookup id="mainDataSource" jndi-name="java:comp/env/jdbc/MainDataSource"
		proxy-interface="javax.sql.DataSource" lookup-on-startup="false" />

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="mainDataSource" />
		<property name="persistenceUnitName" value="mainPersistenceUnit" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
				<property name="generateDdl" value="true" />
				<property name="showSql" value="true" />
			</bean>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven />

	<!--
	  | Services
	  -->

	<bean id="tokenFactory" class="com.gb1.commons.tokens.UuidTokenFactory" />

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="session">
			<jee:jndi-lookup jndi-name="java:comp/env/mail/MainSession" />
		</property>
	</bean>

	<bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<value>
				resource.loader=class
				class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
			</value>
		</property>
	</bean>

	<!--
	  | DWR controller and reachable actions
	  -->

	<dwr:controller id="dwrController" debug="true" />

	<dwr:configuration>
		<dwr:convert type="enum" class="com.gb1.healthcheck.domain.metrics.GastricState" />
		<dwr:convert type="bean" class="com.gb1.healthcheck.domain.metrics.PunctualGastricState" />
	</dwr:configuration>

	<bean id="manageGastricStatesAction" class="com.gb1.healthcheck.web.metrics.ManageGastricStatesAction" scope="prototype">
		<property name="patientFileService" ref="patientFileService" />
		<dwr:remote javascript="ManageGastricStatesAction">
			<dwr:include method="loadGastricStates"/>
			<dwr:include method="saveGastricState"/>
		</dwr:remote>
	</bean>

	<!--
	  | Acegi security
	  -->

	<import resource="applicationContext-security.xml" />

	<!--
	  | Scheduling
	  -->

	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="mealInactivityTrigger" />
			</list>
		</property>
	</bean>

	<bean id="mealInactivityTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="mealInactivityJob" />
		<property name="cronExpression" value="0 32 12 * * ?" />
	</bean>

	<bean id="mealInactivityJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="mealService" />
		<property name="targetMethod" value="notifyUsersOfMealInactivity" />
	</bean>

</beans>
