<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.directwebremoting.org/schema/spring-dwr
       http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

	<!-- DWR controller -->

	<dwr:controller id="dwrController" debug="true" />

	<dwr:configuration>
		<dwr:convert type="enum" class="com.gb1.healthcheck.domain.metrics.GastricState" />
		<dwr:convert type="bean" class="com.gb1.healthcheck.domain.metrics.PunctualGastricState" />
	</dwr:configuration>

	<!-- Struts2 actions -->

	<bean id="userRegistrationAction" class="com.gb1.healthcheck.web.users.BasicUserRegistrationAction" scope="prototype">
		<property name="userService" ref="userService" />
	</bean>

	<bean id="userActivationAction" class="com.gb1.healthcheck.web.users.UserActivationAction" scope="prototype">
		<property name="userService" ref="userService" />
	</bean>

	<bean id="lostPasswordAction" class="com.gb1.healthcheck.web.security.LostPasswordAction" scope="prototype">
		<property name="userService" ref="userService" />
	</bean>

	<bean id="workbenchAction" class="com.gb1.healthcheck.web.workbench.WorkbenchAction" scope="prototype" />

	<bean id="listFoodsAction" class="com.gb1.healthcheck.web.foods.ListFoodsAction" scope="prototype">
		<property name="foodService" ref="foodService" />
	</bean>

	<bean id="createSimpleFoodAction" class="com.gb1.healthcheck.web.foods.CreateSimpleFoodAction" scope="prototype">
		<property name="foodService" ref="foodService" />
	</bean>

	<bean id="updateSimpleFoodAction" class="com.gb1.healthcheck.web.foods.UpdateSimpleFoodAction" scope="prototype">
		<property name="foodService" ref="foodService" />
	</bean>

	<bean id="deleteSimpleFoodAction" class="com.gb1.healthcheck.web.foods.DeleteSimpleFoodAction" scope="prototype">
		<property name="foodService" ref="foodService" />
	</bean>

	<bean id="createComplexFoodAction" class="com.gb1.healthcheck.web.foods.CreateComplexFoodAction" scope="prototype">
		<property name="foodService" ref="foodService" />
	</bean>

	<bean id="updateComplexFoodAction" class="com.gb1.healthcheck.web.foods.UpdateComplexFoodAction" scope="prototype">
		<property name="foodService" ref="foodService" />
	</bean>

	<bean id="deleteComplexFoodAction" class="com.gb1.healthcheck.web.foods.DeleteComplexFoodAction" scope="prototype">
		<property name="foodService" ref="foodService" />
	</bean>

	<bean id="listMealsAction" class="com.gb1.healthcheck.web.meals.ListMealsAction" scope="prototype">
		<property name="mealService" ref="mealService" />
	</bean>

	<bean id="createMealAction" class="com.gb1.healthcheck.web.meals.CreateMealAction" scope="prototype">
		<property name="foodService" ref="foodService" />
		<property name="mealService" ref="mealService" />
	</bean>

	<bean id="updateMealAction" class="com.gb1.healthcheck.web.meals.UpdateMealAction" scope="prototype">
		<property name="foodService" ref="foodService" />
		<property name="mealService" ref="mealService" />
	</bean>

	<bean id="deleteMealAction" class="com.gb1.healthcheck.web.meals.DeleteMealAction" scope="prototype">
		<property name="mealService" ref="mealService" />
	</bean>

	<!-- Gastric state actions -->
	<bean id="manageGastricStatesAction" class="com.gb1.healthcheck.web.metrics.ManageGastricStatesAction" scope="prototype">
		<property name="patientFileService" ref="patientFileService" />
		<dwr:remote javascript="ManageGastricStatesAction">
			<dwr:include method="loadGastricStates"/>
			<dwr:include method="saveGastricState"/>
		</dwr:remote>
	</bean>

	<bean id="signOffAction" class="com.gb1.healthcheck.web.security.SignOffAction" scope="prototype" />

</beans>
