<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="userDetailsService"
		class="com.gb1.healthcheck.services.security.AcegiUserDetailsService">
		<property name="userRepository" ref="userRepository" />
	</bean>

	<bean id="userService" class="com.gb1.healthcheck.services.users.UserServiceImpl">
		<property name="userRepository" ref="userRepository" />
		<property name="userCreationValidator" ref="userCreationValidator" />
		<property name="userUpdateValidator" ref="userUpdateValidator" />
		<property name="userActivationRequester" ref="userActivationRequester" />
		<property name="lostPasswordSender" ref="lostPasswordSender" />
	</bean>

	<bean id="foodService" class="com.gb1.healthcheck.services.nutrition.FoodServiceImpl">
		<property name="foodRepository" ref="foodRepository" />
	</bean>

	<!-- Must be used in place of the tx:annotation-driven tag, which oddly does not work when
		application uses aop:spring-configured -->
	<bean class="org.springframework.transaction.aspectj.AnnotationTransactionAspect"
		factory-method="aspectOf">
		<property name="transactionManager" ref="transactionManager" />
	</bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="mail.cgi.com" />
	</bean>

</beans>
